extends ../layouts/home

append config
  -pageName = 'Home'

block styles
  link(rel="stylesheet" href="css/custom.css")
  script(src="js/liteyoutube.js") 

block scripts 
  script(src='js/custom.js')

block content
  header.dvh-100.d-flex.justify-content-center.align-items-center.text-white(style="background: linear-gradient(135deg, #375ee3 0%, #6543e0 100%);")
    .container.text-center
      //- Logo o Icono (opcional)
      .mb-4
        i.bi.bi-palette2.display-3
      
      //- Título con peso visual
      h1.display-1.fw-bold.mb-3 PiruUI
      
      //- Subtítulo más legible
      p.lead.mb-5.fs-3 Un sistema de diseño moderno creado por Pirulug.
      
      //- Botones de acción (Call to Actions)
      .d-flex.justify-content-center.gap-3
        a.btn.btn-light.btn-lg.rounded-pill.px-5(href='#buttons')
          i.bi.bi-play-fill.me-2
          | Comenzar
        a.btn.btn-outline-light.btn-lg.rounded-pill.px-5(href='https://github.com' target='_blank')
          i.bi.bi-github.me-2
          | GitHub

      //- Indicador de Scroll (opcional)
      .position-absolute.bottom-0.start-50.translate-middle-x.mb-4.d-none.d-md-block
        i.bi.bi-chevron-down.fs-1.animate-bounce

  .container
    //
      Navbar
      ==================================================

    include ../components/navbars.pug

    //
      Buttons
      ==================================================
    
    include ../components/buttons.pug

    //
      Typography
      ==================================================
    
    include ../components/typography.pug

    //
      Tables
      ==================================================
    
    include ../components/tables.pug
          
    //
      Forms
      ==================================================

    include ../components/forms.pug

    //
      Navs
      ==================================================

    include ../components/navs.pug

    //
      Indicators
      ==================================================

    include ../components/indicators.pug
    
    //
      Progress
      ==================================================

    include ../components/progress.pug
    
    //
      Containers
      ==================================================

    include ../components/containers.pug
    
    //
      Dialogs
      ==================================================

    include ../components/dialogs.pug
  
  #source-modal.modal
    .modal-dialog.modal-xl
      .modal-content
        .modal-header
          h5.modal-title Source Code
          button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close')
        .modal-body
          pre
            code.language-html
            
        .modal-footer
          button.btn.btn-secondary(type='button' data-bs-dismiss='modal') Close
          button.btn.btn-primary.btn-copy(type='button') Copy

        
                

