footer#footer
  .row
    .col-lg-12
      ul.list-unstyled
        li.float-end
          a(href='#top') Back to top
        li
          a(href='https://twitter.com/pirulug') Twitter
        li
          a(href='https://github.com/pirulug') GitHub

      p
        | Made by 
        a(href='https://github.com/pirulug') Pirulug
        | .
      p
        | Code released under the 
        a(href='/') MIT License
        | .
      p
        | Based on 
        a(href='https://getbootstrap.com/' rel='nofollow') Bootstrap
        | . Icons from 
        a(href='https://icons.getbootstrap.com/' rel='nofollow') Bootstrap Icons