//- layout.pug
include ../config/config
block config
doctype html
html(lang="es")
  head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
    meta(name='description' content='')
    meta(name='author' content='')
    title #{siteName} | #{pageName}

    // Favicon

    link(rel='apple-touch-icon' sizes='180x180' href='img/favicon/apple-touch-icon.png')
    link(rel='icon' type='image/png' sizes='32x32' href='img/favicon/favicon-32x32.png')
    link(rel='icon' type='image/png' sizes='16x16' href='img/favicon/favicon-16x16.png')
    link(rel='manifest' href='img/favicon/site.webmanifest')

    // Css
    link(rel="stylesheet" href="css/prism.css")
    link(rel="stylesheet" href="css/bootstrapicons.css" media="print" onload="this.media='all'")
    link(rel="stylesheet" href="css/fontawesome.css" media="print" onload="this.media='all'")
    link(rel="stylesheet" href="css/piruui.css")
    link(rel="stylesheet" href="css/extra.css")

    script.
      (function () {
        const storedTheme = localStorage.getItem('theme');
        const prefersDarkScheme = window.matchMedia('(prefers-color-scheme: dark)').matches;
        const theme = storedTheme || (prefersDarkScheme ? 'dark' : 'light');
        document.documentElement.setAttribute('data-bs-theme', theme);
      })();

    block styles
  body
    .wrapper-sticky
      include ../includes/navbar
      
      main.main-content
        //- .container
        block content

      include ../includes/footer

    // Js Bootstrap
    script(src='js/piruui.js')
    script(src='js/prism.js')

    block scripts 
