$font-path: "../fonts" !default;
$font-path-googlesanscode: $font-path + "/google-sans-code" !default;
$font-path-spacemono: $font-path + "/spacemono" !default;

// SPACE MONO

@font-face {
  font-family: "Space Mono";
  src: url("#{$font-path-spacemono}/SpaceMono-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Space Mono";
  src: url("#{$font-path-spacemono}/SpaceMono-Italic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Space Mono";
  src: url("#{$font-path-spacemono}/SpaceMono-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Space Mono";
  src: url("#{$font-path-spacemono}/SpaceMono-BoldItalic.ttf") format("truetype");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

// GOOGLE SANS CODE

@font-face {
  font-family: "Google Sans Code";
  src: url("#{$font-path-googlesanscode}/GoogleSansCode[MONO,wght].ttf") format("truetype-variations"),
       url("#{$font-path-googlesanscode}/GoogleSansCode[MONO,wght].ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Google Sans Code";
  src: url("#{$font-path-googlesanscode}/GoogleSansCode-Italic[MONO,wght].ttf") format("truetype-variations"),
       url("#{$font-path-googlesanscode}/GoogleSansCode-Italic[MONO,wght].ttf") format("truetype");
  font-weight: 100 900;
  font-style: italic;
  font-display: swap;
}